@charset "UTF-8";

//?############################ privacy policy Start ############################
.privacyPolicyMain {
    padding: 80px 0;
    & .title {
        font-size: 16px;
    }
    & .txt{
        font-weight: 300;
        & ul {
            &.list-styled-number {
                list-style: auto;
            }
        }
        
    }
    & .accordion{
        & .accordion-item{
            & .accordion-header {
                & .accordion-button {
                    &:after {
                        display: none;
                    }
                    & span {
                        &:first-child {
                            width: 95%;
                        }
                    }
                    & .circle {
                        opacity: 1;
                        width: 12px;
                        height: 12px;
                            & .vertical {
                                transition: all 0.3s ease-in-out;
                                transform: rotate(90deg);
                                width: 2px;
                                height: 12px;
                                inset: 0;
                            }
                            & .horizontal {
                                transition: all 0.3s ease-in-out;
                                transform: rotate(90deg);
                                opacity: 0;
                                width: 12px;
                                height: 2px;
                                inset: 0;
                            }
                    }
                    &.collapsed {
                        & .circle{
                            & .vertical {
                                transform: rotate(-90deg);
                            }
                            & .horizontal {
                                transform: rotate(-90deg);
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}
.favoruteSaloon {
    & .offcanvas-body {
        & .searchResult {
            width: 95%;
            top: 50px;
            max-height: 250px;
            overflow: hidden auto;
            & .searchItem {
                &:nth-child(1) {
                    border: none;
                }
                border-top: 1px solid $gray-500;
                & .searchLink {
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@mixin privacyPolicyMain-mixin-min-sm() {
}

// Medium devices (tablets, 768px and up)
@mixin privacyPolicyMain-mixin-min-md() {
}

// Large devices (desktops, 992px and up)
@mixin privacyPolicyMain-mixin-min-lg() {
}

// X-Large devices (large desktops, 1200px and up)
@mixin privacyPolicyMain-mixin-min-xl() {
}

// XX-Large devices (larger desktops, 1400px and up)
@mixin privacyPolicyMain-mixin-min-xxl() {
}

// X-Small devices (portrait phones, less than 576px)
@mixin privacyPolicyMain-mixin-max-xs() {
    .privacyPolicyMain{
       & .title {
           font-size: 14px;
       }
       & .txt{
           font-size: 12px !important;
           & span {
            display: block;
           }
           & ul {
               &.list-styled-number {
               }
           }
           
       }
       & .accordion{
        & .accordion-item{
            & .accordion-header {
                & .accordion-button {
                    padding: 12px 20px;
                    &:after {
                    }
                    & .circle {l {
                            }
                            & .horizontal {
                            }
                    }
                    &.collapsed {
                        & .circle{
                            & .vertical {
                            }
                            & .horizontal {
                            }
                        }
                    }
                }
            }
        }
    }
   }
}

// Small devices (landscape phones, less than 768px)
@mixin privacyPolicyMain-mixin-max-sm() {
    .privacyPolicyMain{
         & .customTabs{
            & .nav-item {
                &:last-child{
                }
                & .nav-link {
                    font-size: 12px !important;
                    &.active {
                    }
                }
            }
        }
        & .title {
            font-size: 14px;
        }
        & .txt{
            font-size: 12px !important;

            & ul {
                &.list-styled-number {
                }
            }
            
        }
    }
}

// Medium devices (tablets, less than 992px)
@mixin privacyPolicyMain-mixin-max-md() {
}

// Large devices (desktops, less than 1200px)
@mixin privacyPolicyMain-mixin-max-lg() {
}

// X-Large devices (large desktops, less than 1400px)
@mixin privacyPolicyMain-mixin-max-xl() {
}
@media (max-width: 360px){
    .privacyPolicyMain{
        & .title {
            font-size: 14px;
        }
        & .txt{
            font-size: 12px !important;
            & span {
             display: block;
            }
            & ul {
                &.list-styled-number {
                }
            }
            
        }
        & .accordion{
         & .accordion-item{
             & .accordion-header {
                 & .accordion-button {
                    font-size: 12px !important;
                    padding: 8px 12px !important;
                     &:after {
                     }
                     & .circle {
                        width: 14px !important;
                        & .horizontal {
                        }
                     }
                     &.collapsed {
                         & .circle{
                             & .vertical {
                             }
                             & .horizontal {
                             }
                         }
                     }
                 }
             }
             & .accordion-body {
                padding: 8px 12px !important;
             }
         }
     }
    }
}
//!############################ privacy policy End ############################

